    body{ padding-top:100px;}

    body{
background-color: #4A4A4A;
    background: -webkit-linear-gradient(315deg, #4A4A4A 0%, #4A4A4A 30%, #7e7e7e 100%) fixed;
    background: linear-gradient(135deg, #4A4A4A 0%, #4A4A4A 30%, #7e7e7e 100%) fixed;
      color: white;
    }

    .media-object {
      position: relative;
      width: 90px;
      height: 90px;
      overflow: hidden;
    }
    .media-object img {
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }
    .media-body{
      color: black;
      padding-left: 10px;
    }

    .noBottomMargin{
      margin-bottom: 0px;
    }

  .current{
    border: 2px solid #01b888;
  }