<section id="profiel-section" class="profiel_stanley_tmp" style="background: #f2f2f2;">
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<div class="avatar"><img src="[@avatarUrl]" class="img-responsive img-circle" /></div>
					<hr>
					<h1>[@voornaam] [@achternaam]</h1>
					<p>[@profiel_aboutMe]</p>
					[@cv]
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
</section>